# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\kotas\OneDrive\Documents\Test Automation\Ex_Files_Selenium_EssT\Ex_Files_Selenium_EssT\Exercise Files\06_01\start\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
